@font-face {
  font-family:"Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
.option-card{
    width: 90%;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5vh;  
    margin-left: auto;
    margin-right: auto;
    color: #F3F3EC;

    background: #DE1918;
}

.info-card{
    width: 90%;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5vh;  
    margin-left: auto;
    margin-right: auto;
    color: #F3F3EC;

    background: #DE1918;
}
.option-card:active{
    background-color: #D01414;
}
.title-card{
    width: 90%;
    height: 20vh;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    color: #F3F3EC;

    background: #DE1918;
}

.option-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 3.4em;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    color: #F3F3EC;
}


.title-text{
    width: 80%;
    height: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    color: #F3F3EC;
}
.info-text{
    width: 80%;
    height: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1em;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

    color: #F3F3EC;
}

.dropdown{
    border:none;
    background-color: #DE1918;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1em;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    overflow: auto;

    color: #F3F3EC;
}

.form{
    background-color: #ffffff;
}

.options{
    border:none;
    background-color: #DE1918;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1em;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

    overflow: auto;

    color: #FFFFFF;
}

.label{
    text-align: center;
}

#bar-chart{
    color: #DE1918;
    align-items: center;
}
.background{
    background-color: #F3F3EC;
}

.button{
    border:none;
    background-color: #DE1918;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1em;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

    color: #FFFFFF;

}